/*
*** Project name    : fiverr team portfolio
*** Version         : 0.4.9
*** Author          :  Hamza mellahi & Mohssine Aboutaj
*** Contact         : fiverr.morocco.team@gmail.com
*/
/* Global functions and variables */
/* Start grouping elements */
.special-heading h1, .special-heading h2, .special-heading h3, .special-heading h4, .special-heading h5, .special-heading h6 {
  display: inline-block; }

.show {
  display: block; }

.reset-all, .reset-all *, .heading-aside {
  padding: 0;
  margin: 0; }

.about {
  overflow: hidden; }

.reset-all, .reset-all * {
  float: none; }

.reset-all, .reset-all *, .heading-aside {
  border: none; }

.no-decore, .reset-all, .reset-all *, .no-decore li, .reset-all li, .no-decore a, .reset-all a {
  text-decoration: none;
  list-style: none; }

.no-decore a, .reset-all a {
  color: #EAEAEA; }

.heading-center, header .overlay, #services .flip-card {
  text-align: center; }

header .overlay h1 span, .about .btn, .projects .controlers button {
  text-transform: capitalize; }

h1, h1 *, h2, h2 *, h3, h3 *, h4, h4 *, h5, h5 *, h6, h6 *, nav .nav-item, header .overlay h1, header .overlay .btn {
  text-transform: uppercase; }

.section, .special-heading h1, .special-heading h2, .special-heading h3, .special-heading h4, .special-heading h5, .special-heading h6, header, header .bg-video, header .overlay .btn, #services .flip-card {
  position: relative; }

.section-separator, .section-separator::after, .section-separator::before, .special-heading h1::after, .special-heading h2::after, .special-heading h3::after, .special-heading h4::after, .special-heading h5::after, .special-heading h6::after, header .bg-video video, header .overlay, header .overlay .btn span, #services .flip-card .front,
#services .flip-card .back {
  position: absolute; }

nav .nav-item, header .overlay .btn span, #services .flip-card .front,
#services .flip-card .back, .projects .controlers button {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer; }

.hide {
  display: none; }

#services .flip-card .front,
#services .flip-card .back {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }

.full-centering,
#services .flip-card .back, header .overlay, .projects .controlers {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex; }

.full-centering,
#services .flip-card .back, header .overlay, .projects .controlers {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap; }

.full-centering,
#services .flip-card .back {
  justify-content: center; }

.full-centering,
#services .flip-card .back {
  -webkit-align-items: center;
  align-items: center; }

.full-centering,
#services .flip-card .back {
  width: 100%; }

.full-centering,
#services .flip-card .back {
  height: 100%; }

header, header .overlay {
  background-color: rgba(33, 33, 33, 0.75); }

.section {
  padding: 50px 0; }

.section-separator {
  width: 100%;
  height: 0;
  background-color: none !important;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0; }

.section-separator::after, .section-separator::before {
  content: '';
  width: 50%;
  height: 50px;
  top: -25px;
  -webkit-box-shadow: 0 10px 10px inherit;
  -moz-box-shadow: 0 10px 10px inherit;
  -ms-box-shadow: 0 10px 10px inherit;
  -o-box-shadow: 0 10px 10px inherit;
  box-shadow: 0 10px 10px inherit;
  z-index: 2; }

.section-separator::after {
  left: 0;
  -webkit-transform: skewY(5deg);
  -moz-transform: skewY(5deg);
  -ms-transform: skewY(5deg);
  -o-transform: skewY(5deg);
  transform: skewY(5deg); }

.section-separator::before {
  right: 0;
  -webkit-transform: skewY(-5deg);
  -moz-transform: skewY(-5deg);
  -ms-transform: skewY(-5deg);
  -o-transform: skewY(-5deg);
  transform: skewY(-5deg); }

/* Styles for special heading */
.special-heading h1, .special-heading h2, .special-heading h3, .special-heading h4, .special-heading h5, .special-heading h6 {
  border-bottom: 1px solid #EAEAEA;
  padding: 20px 40px;
  margin-bottom: 10px; }

.special-heading h1::after, .special-heading h2::after, .special-heading h3::after, .special-heading h4::after, .special-heading h5::after, .special-heading h6::after {
  content: '';
  bottom: 0;
  width: 20%;
  border-bottom: 1px solid transparent;
  border-color: inherit;
  padding: 0; }

.heading-aside h1, .heading-aside h2, .heading-aside h3, .heading-aside h4, .heading-aside h5, .heading-aside h6 {
  padding: 10px 0; }

.heading-center h1::after, .heading-center h2::after, .heading-center h3::after, .heading-center h4::after, .heading-center h5::after, .heading-center h6::after {
  right: 40%;
  left: 40%; }

.heading-aside h1::after, .heading-aside h2::after, .heading-aside h3::after, .heading-aside h4::after, .heading-aside h5::after, .heading-aside h6::after {
  left: 0; }

.heading-center {
  margin: 0 auto; }

.heading-aside {
  text-align: left; }

/* End grouping elements */
/* Start global style for elements and classes */
body {
  height: 10000px;
  -webkit-transform: perspectiv-3d;
  -moz-transform: perspectiv-3d;
  -ms-transform: perspectiv-3d;
  -o-transform: perspectiv-3d;
  transform: perspectiv-3d; }

p {
  font-size: 22px;
  line-height: 1.5; }

.special-heading {
  margin-bottom: 20px; }

.section:nth-child(even) .section-separator::before,
.section:nth-child(even) .section-separator::after,
.section:nth-child(even) {
  background-color: #EAEAEA; }

.section:nth-child(even) h2 {
  color: rgba(33, 33, 33, 0.9); }

.section:nth-child(odd) .section-separator::before,
.section:nth-child(odd) .section-separator::after,
.section:nth-child(odd) {
  background-color: #212121; }

.section:nth-child(odd) h2 {
  color: #EAEAEA; }

.section:nth-child(odd) {
  color: #EAEAEA; }

/* End global style for elements and classes */
/* Start navbar */
nav {
  background-color: #212121; }

nav .navbar-toggler {
  color: #FFFFFF; }

nav .nav-item {
  color: #EAEAEA;
  font-size: .8em; }

nav .nav-item:hover {
  color: #FFFFFF; }

/* End navbar */
/* Start header */
header {
  color: #FFFFFF; }

header, header > div {
  height: 100vh;
  width: 100%; }

header .bg-video video, header .overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%; }

header .overlay {
  overflow: hidden; }

header .overlay h1 {
  width: 60%;
  margin: 20px auto;
  color: #11998E;
  text-align: left; }

header .overlay h1 span {
  color: #EAEAEA; }

header .overlay p {
  width: 75%;
  margin: 20px auto;
  color: #EAEAEA; }

header .overlay .btn {
  margin: 20px 0;
  padding: 10px;
  color: #EAEAEA; }

header .overlay .btn span {
  border-width: 2px;
  border-style: solid;
  width: 10%;
  height: 20%; }

header .overlay .btn span:nth-child(1) {
  top: 0;
  left: 0;
  border-color: #EAEAEA transparent transparent #EAEAEA; }

header .overlay .btn span:nth-child(2) {
  top: 0;
  right: 0;
  border-color: #EAEAEA #EAEAEA transparent transparent; }

header .overlay .btn span:nth-child(3) {
  right: 0;
  bottom: 0;
  border-color: transparent #EAEAEA #EAEAEA transparent; }

header .overlay .btn span:nth-child(4) {
  left: 0;
  bottom: 0;
  border-color: transparent transparent #EAEAEA #EAEAEA; }

header .overlay .btn:hover span {
  width: 49%;
  height: 49%; }

/* End header */
/* Start about us */
.about .btn {
  color: #FFFFFF !important; }

/* End about us */
/* Start our services */
#services {
  perspective: 400px; }

#services .flip-card {
  margin-bottom: 20px;
  width: 100%;
  height: 300px;
  padding: 20px; }

#services .flip-card .front,
#services .flip-card .back {
  height: 100%;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  backface-visibility: hidden;
  background-color: #212121;
  color: #FFFFFF; }

#services .flip-card .front i,
#services .flip-card .front h4 {
  margin: 50px auto 0 auto; }

#services .flip-card .front i {
  font-size: 4em; }

#services .flip-card .back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg); }

#services .flip-card .back p {
  width: 70%;
  margin: auto; }

#services .flip-card:hover .front {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  z-index: 2; }

#services .flip-card:hover .back {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
  z-index: 1; }

/* End our services */
/* Start our project */
.projects .mix {
  margin-bottom: 20px; }

.projects .controlers button {
  margin: 10px;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  color: #11998E;
  font-size: 1.4em; }

.projects .controlers button:hover, .projects .controlers .mixitup-control-active {
  background-color: #FFFFFF !important;
  color: #212121; }

/* End our project */
/* Start our team */
/* End our team */
/* Start our pricing */
/* End our pricing */
