/*
*** Project name    : fiverr team portfolio
*** Version         : 0.4.9
*** Author          :  Hamza mellahi & Mohssine Aboutaj
*** Contact         : fiverr.morocco.team@gmail.com
*/

/* Global functions and variables */
$primary  : #11998E;
$secondary: #38EF7D;
$light    : #EAEAEA;
$dark     : #272727;
$white    : #FFFFFF;

/* Start grouping elements */
// import require files
@import "global";
@import "heading";
/* End grouping elements */

/* Start global style for elements and classes */
body {
	height: 10000px;
}

p {
	font-size: 22px;
	line-height: 1.5;
}
.special-heading {
	margin-bottom: 20px;
}

.section:nth-child(odd) .section-separator::before, 
.section:nth-child(odd) .section-separator::after, 
.section:nth-child(odd) {
	background-color: $light;
}

.section:nth-child(odd) h2 { color: rgba($dark, .9) }

.section:nth-child(even) .section-separator::before, 
.section:nth-child(even) .section-separator::after, 
.section:nth-child(even) {
	background-color: $dark;
}

.section:nth-child(even) h2 { color: $light }
/* End global style for elements and classes */

/* Start navbar */
nav {
	background: -webkit-linear-gradient(to right, $primary, $secondary);
	background: linear-gradient(to right, $primary, $secondary);
}

nav .nav-item {
	@extend %trans;
	@extend %upper;
	color: $light;
}

nav .nav-item:hover {
	@include prefix(transform, scale(1.1));
}

nav .nav-item:hover + .nav-item, 
nav .nav-item:hover ~ .nav-item {
	@include prefix(transform, scale(.75));
	color: rgba($primary, .5);
}
/* End navbar */

/* Start header */
header {
	@extend %dark75;
	@extend %rel;
	color: $white;
}

header, header > div {
	height: 100vh;
	width: 100%;
}

header .bg-video { @extend %rel }

header .bg-video video, header .overlay {
	@extend %abs;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

header .overlay {
	overflow: hidden;
	@extend %row;
	@extend %dark75;
	@extend %txt-c;
}

header .overlay h1 {
	width: 60%;
	margin: 20px auto;
	@extend %upper;
	color: $primary;
	text-align: left;
}

header .overlay h1 span {
	@extend %cap;
	color: $light;
}

header .overlay p {
	width: 75%;
	margin: 20px auto;
	color: $light
}

header .overlay .btn {
	margin: 20px 0;
	padding: 10px;
	color: $light;
	@extend %upper;
	@extend %rel;
}

header .overlay .btn span {
	@extend %abs;
	border-width: 2px;
	border-style: solid;
	width: 10%;
	height: 20%;
	@extend %trans;
}

header .overlay .btn span:nth-child(1) {
	top: 0;
	left: 0;
	border-color: $light transparent transparent $light;
}

header .overlay .btn span:nth-child(2) {
	top: 0;
	right: 0;
	border-color: $light $light transparent transparent;
}

header .overlay .btn span:nth-child(3) {
	right: 0;
	bottom: 0;
	border-color: transparent $light $light transparent;
}

header .overlay .btn span:nth-child(4) {
	left: 0;
	bottom: 0;
	border-color: transparent transparent $light $light;
}

header .overlay .btn:hover span {
	width: 49%;
	height: 49%;
}
/* End header */

/* Start about */
.about {
	@extend %overHide;
}

.about .btn {
	color: $white !important;
	@extend %cap;
}
/* End about */

/* Start services */
#services .card {
	margin-bottom: 20px;
}
/* End services */
