/*
*** Project name    : fiverr team portfolio
*** Version         : 0.4.9
*** Author          :  Hamza mellahi & Mohssine Aboutaj
*** Contact         : fiverr.morocco.team@gmail.com
*/

/* Global functions and variables */
// colors >>
$primary  : #11998E;
$secondary: #38EF7D;
$light    : #EAEAEA;
//$gray     : gray;
$dark     : #212121;
$white    : #FFFFFF;

// images directory >>
$imgDir: '../img/';

// fonts directory >>
$fontDir: '../fonts/';

@font-face {
	font-family: Ecomica;
	src: url('#{$fontDir}Economica-Bold-OTF.otf')
}

@font-face {
	font-family: openSans;
	src: url('#{$fontDir}OpenSans-Regular.ttf')
}

// fonts >>
$mainFont: Ecomica, arial;
$secondFont: openSans, tahoma;

/* Start grouping elements */
// import require files
@import "global";
@import "heading";
/* End grouping elements */

/* Start global style for elements and classes */
body {
	@include prefix(transform, perspectiv-3d);
}

p {
	font-size: 22px;
	line-height: 1.5;
	font-family: $secondFont;
}

@for $i from 1 through 6 {
	h#{$i} { font-family: $mainFont }
}

input[type="submit"], input[type="reset"], input[type="text"] {
  font-family: 'Font Awesome 5 Free', $mainFont;
  font-weight: 900;
	background-color: $green;
}

.effect-from-left {
	color: $white;
	@extend %cap;
	@extend %rel;
	border: 1px solid $primary;
	@extend %overHide;
	z-index: 1;
}

.effect-from-left::after {
	content: '';
	@extend %trans;
	@extend %abs;
	width: 0%;
	bottom: 0;
	left: 0;
	top: 0;
	background-color: $primary;
	z-index: -1;
}

.effect-from-left:hover::after { width: 100%; }

.special-heading {
	margin-bottom: 20px;
}

.section:nth-child(even) .section-separator::before, 
.section:nth-child(even) .section-separator::after, 
.section:nth-child(even) {
	background-color: $dark;
}

.section:nth-child(even) { color: $light }

.section:nth-child(odd) .section-separator::before, 
.section:nth-child(odd) .section-separator::after, 
.section:nth-child(odd) {
	background-color: $light;
}

.section:nth-child(odd) h2 { color: $light }

.section:nth-child(odd) h2 { color: rgba($dark, .9) }
/* End global style for elements and classes */

/* Start navbar */
nav {
	background-color: transparent;
	position: fixed !important;
	width: 100%;
	right: 0;
	left: 0;
	top: 0;
	z-index: 11;
	color: $dark;
}

nav .navbar-toggler { color: $white }

nav .nav-item {
	@extend %trans;
	@extend %upper;
	color: $light;
	font-size: .8em;
}

nav .nav-item:hover { color: $white }
/* End navbar */

/* Start header */
header {
	@extend %bgdark75;
	@extend %rel;
	color: $white;
}

header, header > div {
	height: 100vh;
	width: 100%;
}

header .bg-video { @extend %rel }

header .bg-video video, header .overlay {
	@extend %abs;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

header .overlay {
	overflow: hidden;
	@extend %row;
	@extend %bgdark75;
	@extend %tc;
}

header .overlay h1 {
	width: 60%;
	margin: 20px auto;
	@extend %upper;
	color: $primary;
	text-align: left;
}

header .overlay h1 span {
	@extend %cap;
	color: $light;
}

header .overlay p {
	width: 75%;
	margin: 20px auto;
	color: $light
}

header .overlay .btn {
	margin: 20px 10px;
	padding: 10px 30px;
	color: $light;
	@extend %upper;
	@extend %rel;
	background-color: transparent;
}

header .overlay .btn span {
	@extend %abs;
	border-width: 2px;
	border-style: solid;
	width: 10%;
	height: 20%;
	@extend %trans;
}

header .overlay .btn span:nth-child(1) {
	top: 0;
	left: 0;
	border-color: $light transparent transparent $light;
}

header .overlay .btn span:nth-child(2) {
	top: 0;
	right: 0;
	border-color: $light $light transparent transparent;
}

header .overlay .btn span:nth-child(3) {
	right: 0;
	bottom: 0;
	border-color: transparent $light $light transparent;
}

header .overlay .btn span:nth-child(4) {
	left: 0;
	bottom: 0;
	border-color: transparent transparent $light $light;
}

header .overlay .btn:hover span {
	width: 49%;
	height: 49%;
}
/* End header */

/* Start about us */
.about {
	@extend %overHide;
}
/* End about us */

/* Start our services */
#services { perspective: 600px }

#services .flip-card {
	margin-bottom: 20px;
	@extend %rel;
	width: 100%;
	height: 300px;
	padding: 20px;
	@extend %tc
}

#services .flip-card .front, 
#services .flip-card .back {
	@extend %abs;
	height: 100%;
	width: 100%;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
	@extend %trans;
	backface-visibility: hidden;
	background-color: $dark;
	color: $white;
	@extend %rad10px;
}

#services .flip-card .front i, 
#services .flip-card .front h4 {
	margin: 50px auto 0 auto;
}

#services .flip-card .front i { font-size: 4em; }

#services .flip-card .back {
	@include prefix(transform, rotateY(-180deg));
	@extend .full-centering;
}

#services .flip-card .back p {
	width: 70%;
	margin: auto
}

#services .flip-card:hover .front {
	@include prefix(transform, rotateY(180deg));
	z-index: 2;
}

#services .flip-card .front { z-index: 2 } 
#services .flip-card .back { z-index: 1 }

#services .flip-card:hover .back {
	@include prefix(transform, rotateY(0deg));
	z-index: 1;
}
/* End our services */

/* Start our project */
#projects .view-more {
	@extend %tc;
	@extend .no-decore;
	margin-top: 30px;
	color: $white;
}

#projects .view-more .btn { padding: 5px 30px; }
/* End our project */

/* Start our team */
#team {
	.team-person {
		@extend %rel;
	  .over {
		  @extend %abs;
		  @extend %overHide;
		  width: 0%;
		  height: 0%;
		  top: 50%;
		  left: 50%;
		  right: 50%;
		  bottom: 50%;
			@extend %trans;
			@extend %tc;
			@extend .full-centering;
			background-color: rgba($primary, .75);
			color: $white;
			i {
				font-size: 2em;
				margin: 0 10px;
			}
		}
		&:hover .over {
		  height: 100%;
		  width: 100%;
		  bottom: 0;
		  right: 0;
		  left: 0;
		  top: 0;
		}
	}
}
/* End our team */

/* Start our pricing */
#our-pricing {
	background-color: $white;
	padding-bottom: 20px;
	@extend %tc;
	h2 {
		color: $dark
	}
	.row {
		margin: 80px 0;
	}
	.se {
		@include prefix (transform, scale(1.2));
		.feats {
			color: $white !important;
			@extend %bgdark9;
		}
	}
	.price {
    margin: 15px;
		background-color: #F4F4F4;
		color: $dark;
		@extend %rad20px;
		@include prefix(box-shadow, -4px 9px 5px 0px $light );
		.head {
			background-color: $secondary;
			padding: 40px 10px 50px;
			color: $white;
			@extend %tc;
		}
		.head {
			@include prefix(border-radius, 30px 30px 0 45%);
		}
		.sec{
		  @include prefix(border-radius, 10px 10px 0 0);
			background-color: $dark;
			i {
				color:$dark;
			}
		}
		.third{
			@include prefix(border-radius, 0 0 45% 0);
		}
		.feats {
      font-size: 13px;
      padding: 20px 0 10px 36px;
			text-align: $left;
		}
		ul {
			padding:30px 0;
		}
		ul li {
			padding: 5px;
		}
		.head {
			i {
				font-size: 50px;
				padding: 20px;
				@extend %circle;
				background-color: $light;
				color: $secondary;
		  }
			h3 > span {
	      font-size: 50px
			}
		}
		i {
			color: $secondary;
		}
		button {
			background-color: $dark;
			color: $white;
			padding: 11px;
			@extend %rad20px;
			width: 130px;
			margin-#{$right}: 60px;
			@extend %trans;
			&:hover {
				background-color: $secondary
			}
		}
	}
}
/* End our pricing */

/* testimonials Start */
#testimonials {
	background:url("#{$imgDir}testim.jpg");
	background-attachment: fixed;
	@extend %cover;
	color: $white;
	@extend %tc;
	height: 400px;
	.overlay {
		@extend %bgdark8;
		@extend %overlay;
  	.slider .active {
	  	@extend %block;
	  }
    .slider > div {
	  	@extend .hide
	  }
		h2 {
    	color: $white
		}
		h3 {
			padding-top: 20px;
			color: $primary
		}
		img {
			width:100px;
			@extend %circle;
		}
		p {
			font-size: 18px;
		}
	}
}
/* testimonials end */

/* Start subscribe */
.subscribe {
	background-image: url('https://placehold.it/2000x300/222');
	@extend %cover;
	@extend %tc;
}

.subscribe h3 {
	margin-bottom: 30px;
}

.subscribe form {
	background-color: $white;
	color: $dark;
	padding: 5px;
	@extend %rad10px;
	min-width: 500px;
}

.subscribe form div { padding: 5px 20px; }

.subscribe form input[type="email"] {
	width: 400px;
	border: none;
	border-bottom: 1px solid $dark;
	outline: none;
}

.subscribe form input[type="submit"] { margin: 0 20px; }
/* End subscribe */

/* Start our blogs */
#blog .card {
	color: $dark;
	@include prefix(box-shadow, 5px 5px 5px rgba($dark, .25));
	@extend %rad10px;
}

#blog .card .blog-owner img {
	float: $left;
	@extend %circle;
	@include prefix(box-shadow, 5px 5px 5px $light);
}

#blog .card .blog-owner div {
	float: $right;
	text-align: $right;
}

#blog .card .blog-owner div h6 { font-weight: bold }

#blog .card .blog-owner div span { @extend %block }

#blog .card .blog-info {
//	height: 0;
//	@extend %overHide;
	@extend .hide;
}

#blog .card .open-info {
	@extend %tc;
	padding: 0;
	cursor: pointer;
}
/* End our blogs */

/* Start contact us */
#contact .contact-icons { @extend .no-decore }

#contact .contact-icons a {
	@extend %block;
	@extend %cap;
	width: 50%;
	margin: 10px 0;
}

#contact .contact-icons span {
	@extend %block;
	color: $white;
	padding: 10px;
	font-size: 1.25em;
}

#contact .contact-icons .fiverr {
	background-color: $white;
	color: $dark;
}
#contact .contact-icons .twitter { background-color: $twitter }
#contact .contact-icons .linkedin { background-color: $linkedIn }
#contact .contact-icons .codepen { background-color: $codepen }
#contact .contact-icons .github { background-color: $github }
#contact .contact-icons .google-plus { background-color: $googlePlus }

#contact form {
	@extend %tc;
	background-color: $white;
	color: $dark;
	margin: 25px 0;
}

#contact form h4 {
  background: red;
  color: $white;
	@extend %ib;
  padding: 10px 30px;
  margin-top: -25px;
}

#contact form .form-control {
	margin-top: 20px;
	border: none;
	@extend %rel;
}

#contact form .form-control i { color: $secondary }

#contact form .form-control label {
	@extend %abs;
	@include prefix(transition, all .5s ease-in-out);
	#{$left}: 10%;
	z-index: 1;
}

#contact form .form-control input {
	padding-#{$left}: 5px;
	border: none;
	border-bottom: 1px solid $dark;
}

#contact form .form-control input, 
#contact form .form-control textarea {
	@extend %rel;
	width: 90%;
	outline: none;
	background: none;
	z-index: 2;
}

#contact form .form-control .fa-envelope {
	@extend %abs;
	top: 10px;
	#{$left}: 25px;
}

#contact form .form-control textarea {
	border: none;
}

#contact form .msg { @extend %rel }

#contact form .msg .chars {
	@extend %abs;
	bottom: 10px;
	left: 20px;
	right: 0;
	width: 100%;
	color: $dark;
}

#contact form input[type="submit"],
#contact form input[type="reset"] {
	min-width: 30%;
	padding: 5px 30px;
	@extend %upper;
	margin: 15px;
}

#contact form input[type="reset"] { background-color: $red }

#contact #show-map {
	width: 100%;
	height: 400px;
}
/* End contact us */

/* Start footer */
footer {
	@extend %bgdark75;
	color: $white;
	@extend .no-decore;
}

footer .column {
	margin: 20px 0;
	padding: 0 20px;
}

footer .column:nth-child(1) .icons { @extend %tc }

footer .column:nth-child(1) span {
	padding: 5px;
	margin: 2px;
	@extend %circle;
	@extend %ib;
	@extend %trans;
}

footer .column:nth-child(1) span:hover { background-color: $white }

footer .column:nth-child(1) .facebook { background-color: $facebook }
footer .column:nth-child(1) .twitter { background-color: $twitter }
footer .column:nth-child(1) .youtube { background-color: $youtube }
footer .column:nth-child(1) .linkedin { background-color: $linkedIn }
footer .column:nth-child(1) .codepen { background-color: $codepen }
footer .column:nth-child(1) .github { background-color: $github }
footer .column:nth-child(1) .google-plus { background-color: $googlePlus }

footer .column:nth-child(1) .facebook:hover { color: $facebook;}
footer .column:nth-child(1) .twitter:hover { color: $twitter }
footer .column:nth-child(1) .youtube:hover { color: $youtube }
footer .column:nth-child(1) .linkedin:hover { color: $linkedIn }
footer .column:nth-child(1) .codepen:hover { color: $codepen }
footer .column:nth-child(1) .github:hover { color: $github }
footer .column:nth-child(1) .google-plus:hover { color: $googlePlus }

footer .column:nth-child(2), 
footer .column:nth-child(3) {
	margin-top: 60px;
	margin-bottom: 0;
}

footer .column:nth-child(2) #accordion * {
	background-color: transparent;
	@extend .no-decore;
	color: $white;
}

footer .column:nth-child(2) #accordion .card-header {
	background-color: $primary;	
	padding: 5px 0;
	font-size: 1.25em;
	@extend %cap;
	@extend %tc;
	cursor: pointer;
}


footer .column:nth-child(3) #tags span {
	@extend %ib;
	padding: 5px;
	margin: 3px;
	background-color: $primary;
	color: $white;
	cursor: pointer;
}

footer .column:nth-child(4) {
	@extend %tc;
	@extend %upper;
	font-size: 1.25em;
}

.copyright {
	background-color: $dark;
	color: $white;
	@extend %cap;
	@extend %tc;
	padding: 10px;
	margin-top: 20px;
}

.copyright b { color: $primary }
/* End footer */

@media (max-width: 992px) {
	#our-pricing .row { margin: 40px; }
	#our-pricing .se { @include prefix (transform, scale(1)) }
}